@font-face {
    font-family: "yekan";
    src: url(./fonts/Yekan.woff2);
}

* {
    margin: 0;
    padding: 0;
    font-family: "yekan";
}

body {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    display: grid;
    place-items: center;
    padding: 0px 20px;
}

.audio {
    margin-top: 20px;
}

.content {
    text-align: justify;
}

.feedback-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feedback-input {
    margin-top: 5px;
}